# Database (PostgreSQL recommended for production)
DATABASE_URL="postgresql://user:password@localhost:5432/gangpay?schema=public"

# Redis (Optional but recommended)
REDIS_URL="redis://localhost:6379"

# Telegram Bot
BOT_TOKEN="7952264670:AAHX7fkMxzo5SyFs5YmskYotvtjk6XHFt8o"
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME="@GangPayGameBot"
ADMIN_CHAT_ID=-1004451758241

# JWT
JWT_SECRET="8D3hZ3zbQLPUyG25BGZgcuRBGpeS9zShla66ETuN7JG"

# App URLs
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_API_BASE_URL="http://localhost:4000"

# Admin
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="secure_password"
