# PostgreSQL
DATABASE_URL='file:/Users/macbookpro/Desktop/my bot codelar/GangPangBotClone/prisma/dev.db'

# Redis
REDIS_URL=redis://:password@host:6379

# Telegram Bot
BOT_TOKEN=7952264670:AAHX7fkMxzo5SyFs5YmskYotvtjk6XHFt8o
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=t.me/GangPayGameBot

# JWT
JWT_SECRET=change_me_super_secret

# App
NEXT_PUBLIC_BASE_URL=http://localhost:3000
API_BASE_URL=http://localhost:4000
