ADMIN_CHAT_ID=-1004451758241
NEXT_PUBLIC_BASE_URL="https://exceeding-penholder-feeble.ngrok-free.dev"
API_BASE_URL="https://exceeding-penholder-feeble.ngrok-free.dev"
BOT_TOKEN="7952264670:AAHX7fkMxzo5SyFs5YmskYotvtjk6XHFt8o"